<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="kind">
            <h2><span jhiTranslate="vtmgApp.kind.detail.title">Kind</span> {{ kind.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="vtmgApp.kind.description">Description</span></dt>
                <dd>
                    <span>{{ kind.description }}</span>
                </dd>
                <dt><span jhiTranslate="vtmgApp.kind.details">Details</span></dt>
                <dd>
                    <span>{{ kind.details }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/kind', kind.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
