<div>
    <h2 id="page-heading">
        <span jhiTranslate="vtmgApp.kind.home.title">Kinds</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-kind" [routerLink]="['/kind/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="vtmgApp.kind.home.createLabel">
            Create a new Kind
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="kinds?.length === 0">
        <span jhiTranslate="vtmgApp.kind.home.notFound">No kinds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="kinds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="vtmgApp.kind.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="vtmgApp.kind.details">Details</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kind of kinds ;trackBy: trackId">
                    <td><a [routerLink]="['/kind', kind.id, 'view']">{{ kind.id }}</a></td>
                    <td>{{ kind.description }}</td>
                    <td>{{ kind.details }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/kind', kind.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/kind', kind.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(kind)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
