<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-person-heading" jhiTranslate="vtmgApp.person.home.createOrEditLabel">Create or edit a Person</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vtmgApp.person.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vtmgApp.person.bithDate" for="field_bithDate">Bith Date</label>
                    <div class="input-group">
                        <input id="field_bithDate" type="text" class="form-control" name="bithDate" ngbDatepicker #bithDateDp="ngbDatepicker" formControlName="bithDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="bithDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vtmgApp.person.deathDate" for="field_deathDate">Death Date</label>
                    <div class="input-group">
                        <input id="field_deathDate" type="text" class="form-control" name="deathDate" ngbDatepicker #deathDateDp="ngbDatepicker" formControlName="deathDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="deathDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vtmgApp.person.details" for="field_details">Details</label>
                    <input type="text" class="form-control" name="details" id="field_details"
                           formControlName="details"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vtmgApp.person.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" formControlName="gender" id="field_gender">
                        <option value="MALE">{{ 'vtmgApp.Gender.MALE' | translate }}</option>
                        <option value="FEMALE">{{ 'vtmgApp.Gender.FEMALE' | translate }}</option>
                        <option value="OTHER">{{ 'vtmgApp.Gender.OTHER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="vtmgApp.person.kind" for="field_kind">Kind</label>
                    <select class="form-control" id="field_kind" name="kind" formControlName="kind">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="kindOption.id === editForm.get('kind')!.value?.id ? editForm.get('kind')!.value : kindOption" *ngFor="let kindOption of kinds; trackBy: trackById">{{ kindOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
